<html>
/* image 6 */


position: absolute;
width: 1512px;
height: 912px;
left: 0px;
top: 70px;

background: url(image.png);


/* Rectangle 24 */


position: absolute;
width: 1512px;
height: 76px;
left: 0px;
top: 0px;

background: #000000;


/* whiskerfur.tech/chat/home */


position: absolute;
width: 1500px;
height: 64px;
left: 12px;
top: 6px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #FFFFFF;



/* Rectangle 25 */


position: absolute;
width: 512px;
height: 151px;
left: 12px;
top: 181px;

background: #F2A7A7;


/* Rectangle 28 */


position: absolute;
width: 512px;
height: 151px;
left: 12px;
top: 375px;

background: #4099AD;


/* Rectangle 27 */


position: absolute;
width: 167px;
height: 70px;
left: 889px;
top: 70px;

background: #7DC7DE;


/* @Catwomen Hey! Can you giv.... */


position: absolute;
width: 436px;
height: 65px;
left: 12px;
top: 181px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;



/* @Unknownw Hey Mar....... */


position: absolute;
width: 512px;
height: 139px;
left: 12px;
top: 387px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;



/* Find */


position: absolute;
width: 122px;
height: 65px;
left: 912px;
top: 81px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #FFFFFF;



/* Rectangle 26 */


position: absolute;
width: 857px;
height: 70px;
left: 0px;
top: 76px;

background: #FFFFFF;
border-radius: 40px;


/* Rectangle 29 */


position: absolute;
width: 1512px;
height: 76px;
left: 0px;
top: 0px;

background: #000000;


/* instasnap.tech/chat */


position: absolute;
width: 902px;
height: 64px;
left: 0px;
top: 6px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #FFFFFF;



/* Rectangle 30 */


position: absolute;
width: 1512px;
height: 96px;
left: 0px;
top: 70px;

background: #C21313;


/* CatWomen 🟢 Typing, Online ___ Last on InstaSnap: N/A */


position: absolute;
width: 1502px;
height: 58px;
left: 10px;
top: 83px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
/* identical to box height */


color: #FFFFFF;



/* image 5 */


position: absolute;
width: 1510px;
height: 828px;
left: 0px;
top: 154px;

background: url(image.png);


/* Rectangle 31 */


position: absolute;
width: 679px;
height: 234px;
left: 831px;
top: 164px;

background: #F5F5F5;


/* Rectangle 32 */


position: absolute;
width: 404px;
height: 82px;
left: 10px;
top: 409px;

background: #F5F5F5;


/* Hey! Do you have any tips for my cat to be healthier. Thanks. (Delivered✅) */


position: absolute;
width: 690px;
height: 232px;
left: 837px;
top: 166px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;



/* Hey John! */


position: absolute;
width: 319px;
height: 71px;
left: 24px;
top: 420px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;



/* image 7 */


position: absolute;
width: 216px;
height: 154px;
left: 10px;
top: 508px;

background: url(image.png);
</html>
